# build artifacts
hex0
*.o
*.elf
*.bin
/build/

# lean
/.lake/
/lake-packages/

# coq
*.vo
*.vok
*.vos
*.glob
.*.aux
_build/
.libshim/
bare/*.log
bare/*.dis
bare/hex0.elf
bare/hex0.bin
lean/.lake/
coq/*.vo
coq/*.vok
coq/*.vos
coq/*.glob
coq/.*.aux
bare/hex0.bin
coq/Makefile.conf
coq/.Makefile.d
coq/.*.aux
coq/.lia.cache
coq/.nia.cache
*.glob
lean/*.log
lean/*-install.log
elan-init.sh
*.output
*.log
lean-toolchain-install.log
